<form action="/recipes" method="post">
  <label for="rname">Recipe name:</label><br>
  <input type="text" name = "name"><br>

  <label for="desc">Recipe description:</label><br>
  <input type="text" name = "description"><br>

  <label for="desr">Rating:</label><br>
  <input type="text" name = "rating"><br>

  <label for="dscr">Prep time:</label><br>
  <input type="text" name = "prep_time"><br>

  <input type="submit" value="Submit">
</form>
